.socials{
    list-style-type: none;
    margin: 1rem 0px;
    padding: 0px;
}

.socials li{
    display: inline-block;
    font-size: 1.5rem;
    margin: 0px 0.5rem;
}

.socials li:first-of-type{
    margin-left: 0px;
}

.socials li a{
    display: inline-block;
    color: var(--primary-accent);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    /* transform: translate(40px, -15px);moved by 20px in the x axis and -15px in the Y axis */
}

.socials a:hover{
    color: var(--active-color);
    transform: translate(0px,0.3rem);
}

.socials a:hover::after{
    content: "\2197";
    position: relative;
    top: -20px;
    font-size: large;
}