.mainSection{
    padding: 0px 1.5rem;
}

.header{
    margin-top: 2rem;
    padding-left: 2rem;
}

.messageBoard{
    max-width: 50rem;
    margin: 10rem auto;
    padding: 2rem;
    text-align: center;
}

.messageBoard button{
    margin-top: 2rem;
}