.footerSection{
    /* width: 100%; */
    position: relative;
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.fullsreenSquarePattern{
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    /* background-color: rgba(154, 50, 239, 0.3); */
    background-repeat: repeat;
    background-size: 10rem;
    mix-blend-mode: multiply;
}

.SectionUpperLayer{
    width: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    /* justify-content:center; */
    z-index: 1;
}

.contactFormCard{
    width: 90%;
    max-width: 35rem;
    padding: 2rem;
}