.projectsSection{
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.projectsSection>section{
    padding: 1.4vw;
    padding-top: 4rem;
}

.dataSection h1{
    text-align: right;
    margin-bottom: 3rem;
}

.projectItem{
    margin: 1.1rem 0px;
    /* width: 100%; */
}

.artSection{
    text-align: center;
}

.artSection img{
    display: inline-block;
    position: sticky;
    top: 3rem;
    margin: 2rem 0px;
    width: 90%;
    max-width: 30rem;
    height: 40rem;
    object-fit: cover;
    object-position: center;
    border-radius: 2rem;
}
