.projectsSection{
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.dataSection,.artSection{
    padding-top: 3rem;
}

.projectsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dataSection h1{
    text-align: right;
    margin-bottom: 3rem;
}

.projectItem{
    margin: 1.1rem 0.5rem;
    max-width: 23rem;
    /* width: 100%; */
}


.artSection div{
    height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: sticky;
    top: 0px;
    /* text-align: center; */
}

.artSection img{
    display: inline-block;
    width: 86%;
    height: 86%;
    object-fit: cover;
    object-position: center;
    border-radius: 2rem;
}

.viewMoreLink{
    display: block;
    margin: 1rem auto 0px auto;
    width: fit-content;
}

@media (max-width: 60rem) {
    .artSection div{
        align-items: center;
        position: static;
        height: 30rem;
        min-height: 30rem;
        margin-bottom: 2.8rem;
    }

    .artSection img{
        width: 100%;
        height: 100%;
    }
}