.contactForm{
    width: 100%;
    box-sizing: border-box;
}

.submitFormBtn{
    display: block;
    margin: 1.5rem auto;
}

.formResponseMessage{
    margin: 0.6rem 0px;
}

.formResponseError{
    color: rgb(253, 119, 119);
}

.formResponseSuccess{
    color: rgb(112, 255, 114);
}

.formLoadingUISection{
    display: flex;
    width: 100%;
    height: 23rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loadingIcon{
    font-size: 10rem;
    color: var(--active-color);
    animation: bobbingAnimation 0.3s linear ;
    animation-iteration-count: infinite;
}

@keyframes bobbingAnimation {
    0%{
        transform: translateY(-4px);
    }
    50%{
        transform: translateY(4px);
    }
    100%{
        transform: translateY(-4px);
    }
}