.workHistoryItem{
    margin: 1rem 0px;
    max-width: 30rem;
    padding: 1.4rem 1.1rem;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

.workHistoryItem:first-of-type{
    margin-top: 2rem;
}

.workHistoryItem h3{
    font-family: "Boldonse", system-ui;
    font-size: small;
    color: var(--primary-accent-light);
}

.skillsetList{
    margin-top: 1rem;
}

.skillsetList li{
    font-size: small;
}