.button{
    position: relative;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--primary-accent);
    color: var(--active-color);
    box-shadow: 0px 0px 0.7rem rgba(0,0,0,0.5);
    font-size: medium;
    padding: 0.5rem 1.5rem;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}

.button:hover{
    color: var(--primary-accent);
}

.button:hover::before{
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--active-color);
    animation: button_hover 0.2s ease-in;
    animation-fill-mode: forwards;
}

@keyframes button_hover {
    0%{
        bottom: -100%;
    }
    100%{
        bottom: 0px;
    }
}

/* .button:active{
    box-shadow: none;
} */