.card{
    background-color: var(--bg-highlight-color);
    padding: 1.4rem 1.1rem;
    border-radius: 1.2rem;
}

.flat{
    box-shadow: none;
}

.elevated{
    box-shadow: 0px 0.6rem 1.4rem rgba(0,0,0,0.6);
}